.rssearch_row {
	border-bottom: 1px solid #F5F5F5;
    padding: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-transition: -moz-box-shadow 1s;
    -webkit-transition: -webkit-box-shadow 1s;
    -o-transition:  box-shadow 1s;
    transition: box-shadow 1s;
}

.rssearch_row:hover {
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.rssearch_readon {
	display: block;
	text-align: right;
}

.rssearch_content {
	padding: 5px;
}

.rssearch_type {
	float: right;
	font-size: 11px;
}